
/*********** color scheme 
terra cota #E07A5F
deep state blue #3D405B

************/

* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*********** header ************/

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-right: 5px;
}

header span{
    font-size: 1.2rem;
    color: #3D405B;
}

/*********** hamburger ************/

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
    color: #3D405B;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.5rem;
    color: #E07A5F;
}

/*********** navigation ************/

.navigation{
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover{
    background-color: #E07A5F;
}


h1{
    margin-left: 10px;
    color: #3D405B;
}

/*********** footer ************/

footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ddd solid 2px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.social img{
    width: 22px;
    height: 22px;

}

.social a:hover{
    background-color: #ddd;
}